@page
@model AdminUIModel
@{
    ViewData["Title"] = "Admin Portal";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Alaska Airlines Software Configuration Tool</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/ASCT_Style.css" />
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>
    
    <!-- Import Links for Checkmarks on Fleet select-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script type="text/javascript" src="~/js/asct.js"></script>
    
    
</head>
<body>
    <h1 id="title">Alaska Airlines Software Configuration <b>Admin</b> Portal</h1>

    <!--
    <div id="fleet-select-admin">
        <button type="button" id="boeing-button" class="btn btn-outline-primary">Boeing</button>
        <button type="button" id="airbus-button" class="btn btn-outline-primary">Airbus</button>
    </div>
    -->
        <div class="container modified_container" id="fleet-select-admin">
            <label>
                <input type="radio" name="demo" class="card-input-element" value="airbus" id="boeing-button">
                <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                    Boeing
                </div>
            </label>
            <label>
                <input type="radio" name="demo" class="card-input-element" value="airbus" id="airbus-button">
                <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                    Airbus
                </div>
            </label>
        </div>
      

    <div id="tail-number-section">   
        <form>
            <div class="form-group">
                <!-- Design choice; label or no label for tail number input?-->
                <label for="system-name">Tail Number(s)</label>
                <input type="text" class="form-control" id="tail-number" placeholder="ex: FMC">
            </div>
        </form>
        <!--
        <select class="js-example-basic-multiple" name="tailNumbers[]" multiple="multiple" id="tail-num-select">
            
            <option value="122">122</option>
            <option value="123">123</option>
            <option value="123">124</option>
            <option value="123">125</option>
            <option value="123">325</option>
            <option value="123">471</option>
            <option value="123">095</option>

        </select>
        -->
    </div>

    <div id="LRU-name-section">
        <form>
            <div class="form-group">
                <!-- Design choice; label or no label for tail number input?-->
                <label for="LRU-Name">LRU Name</label>
                <input type="text" asp-for="Unit.LRU_Name" class="form-control" id="LRU-name" placeholder="ex: Attendant Control Panel">
            </div>
        </form>
    </div>

    <div id="LRU-part-number-section">
        <form>
            <div class="form-group">
                <!-- Design choice; label or no label for tail number input?-->
                <label for="system-name">LRU P/N</label>
                <input type="text" asp-for="Unit.LRU_Part_Number" class="form-control" id="LRU-part-number" placeholder="ex: 115E1670G18">
            </div>
        </form>
    </div>

    <div id="software-part-number-section">
        <form>
            <div class="form-group">
                <!-- Design choice; label or no label for tail number input?-->
                <label for="system-name">S/W P/N</label>
                <input type="text" asp-for="Unit.Software_Part_Number" class="form-control" id="software-part-number" placeholder="ex: 2316BPS03P05">
            </div>
        </form>
    </div>

    <div id="system-name-section">
        <form>
            <div class="form-group">
                <!-- Design choice; label or no label for tail number input?-->
                <!-- Can be removed since it's redundant with Software Name -->
                <label for="system-name">System Name</label>
                <input type="text" class="form-control" asp-for="Unit.Software_Name" id="system-name" placeholder="ex: FMC">
            </div>
        </form>
    </div>

    <div id="pre-post-section" asp-for="Unit.Pre_Post_Condition">
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="pre-post-condition" class="custom-control-input" value="Pre">
            <label class="custom-control-label" for="customRadio1">Pre</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="pre-post-condition" class="custom-control-input" value="Post">
            <label class="custom-control-label" for="customRadio2">Post</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="pre-post-condition" class="custom-control-input" value="None">
            <label class="custom-control-label" for="customRadio3">None</label>
        </div>

    </div>

        <div id="EC-number-section">
            <form>
                <div class="form-group">
                    <!-- Design choice; label or no label for tail number input?-->
                    <label for="system-name">E/C Number</label>
                    <input type="text" class="form-control" id="EC-number" asp-for="Unit.EC_Number" placeholder="ex: SB737-34-2600-NG-1">
                </div>
            </form>
        </div>
        <br />
        <div id="submit">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
</body>
</html>
