@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Technician Portal";
}

<!DOCTYPE html>

<html ng-app="app" ng-controller="MyController" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Technician Portal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script type="text/javascript" src="~/js/asct.js"></script>

    <link rel="stylesheet" href="~/css/ASCT_Style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <h1 id="title-alaska" style="text-align: center;">Alaska Airline Software Configuration Technician Portal</h1>
    <br>
    <div class= "btn-group-toggle" data-toggle="button" id="fleet-select">
        <button type="button" class="btn btn-primary" id="boeing-button">Boeing</button>
        <button type="button" class="btn btn-primary"id="airbus-button">Airbus</button>
    </div>
    <br>
    <form method="post">
        <div id="tail-number-section">
            <form>
                <div class="form-group">
                    <!-- Design choice; label or no label for tail number input?-->
                    <label for="tail-number">Tail Number</label>
                    <input type="text" asp-for="Unit.Tail_Number" class="form-control" id="tail-number" placeholder="ex: 224AS">
                </div>
            </form>
        </div>
        <br>


        <div id="system-name-section">
            <form>
                <div class="form-group">
                    <!-- Design choice; label or no label for tail number input?-->
                    <label for="system-name">System Name</label>
                    <input type="text" class="form-control" id="system-name" placeholder="ex: FMC">
                </div>
            </form>
        </div>
    </form>
    <br />
    <div id="submit">
        <input ng-click="openTable()" class="btn btn-primary" type="submit" value="Submit">
    </div>
    <br />
      <br />

<div ng-show="isVisible" class="ng-hide">
    <p id="output-tail-num" class="badge badge-pill badge-primary"> Tail: 224AS</p>
    <p id="output-system-name" class="badge badge-pill badge-secondary"> System: FMC</p>
    <table class="table table-striped table-dark table-bordered" id="part-number-table">
        <tbody>
        <!-- table body will have varying number of rows based on the number of hardware parts in the system.
        The code below is a sample output for the FMC system. We'll need to recieve almost all table data from
        API except for the HW part number header -->
        <tr>
            <th scope="row"><b>LRU Part Number</b></th>
            <!--change later with the get method updated-->
            <th>OPS</th>
            <th>OPC</th>
            <th>MEDB</th>
            <th>ADDB</th>
            <th>Nav DB</th>            
        </tr>
        <tr>
            <th scope="row">176200-01-01</th>
            <td>5569090-001</td>
            <td>BCG-01T-61</td>
            <td>BCG01TA0</td>
            <td>ASA1007A</td>
            <td>Current Date Range</td>
        </tr>
        <tr>
            <th scope="row">171497-05-01</th>
            <td>5569090-001</td>
            <td>BCG-01T-61</td>
            <td>BCG01TA0</td>
            <td>ASA1007A</td>
            <td>Current Date Range</td>
        </tr>
        </tbody>
        </table>
</div>
    &nbsp;
</body>
</html>
