h1 { 
    
}



#title {
    text-align: center;
}

#part-number-table {
    border-color: #1b6ec2;
}

#fleet-select {
   display: flex;
   justify-content: space-evenly;
}

#fleet-select-admin {
    width: 100%;
    text-align: center;
}

#boeing-button {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px;
    border-radius: 10px;
    border-color: blue;
    background-color: #0039a6;
    color: white;
    outline-color: blue;
}

#airbus-button {
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 10px;
    border-color: red;
    background-color: #e4002b;
    color: white;
    outline-color: red;
}

body {
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 20px;
}


/**
  Default Markup
**/


  
  .modified_container {
    max-width: 200px;
    margin: 0 auto;
  }
  
  
  /**
    Component
  **/
  
  label {
      width: 100%;
  }
  
  .card-input-element {
      display: none;
  }

  
.card-input-element+.card {
    height: calc(36px + 2*1rem);
    color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  
  .card-input-element+.card:hover {
    cursor: pointer;
  }
  
  .card-input-element:checked+.card {
    border: 2px solid var(--primary);
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
  }
  
  .card-input-element:checked+.card::after {
    content: '\e5ca';
    color: #AFB8EA;
    font-family: 'Material Icons';
    font-size: 24px;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @-webkit-keyframes fadeInCheckbox {
    from {
      opacity: 0;
      -webkit-transform: rotateZ(-500deg);
    }
    to {
      opacity: 1;
      -webkit-transform: rotateZ(0deg);
    }
  }
  
  @keyframes fadeInCheckbox {
    from {
      opacity: 0;
      transform: rotateZ(-50deg);
    }
    to {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }
#submit {
   
}
